:root {
  --secondaty-font-family: "Raleway", sans-serif;
  --main-font-family: "Roboto", sans-serif;
  --color-btn: #4d5ae5;
  --background-btn: #f4f4fd;
  --paragraph-color: #434455;
}

/* Header */
.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 76px;
}
.menu {
  display: flex;
  gap: 40px;
}
.list_part:hover,
.list_part:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.menu-link {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* Main */
.list_part {
  text-decoration: none;
  font-family: var(--main-font-family);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0
}

.modal-open-btn {
  cursor: pointer;
  color: var(--color-btn);
  background-color: var(--background-btn);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.index-open-btn {
  padding: 16px, 32px;
  background-color: #4d5ae5;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 105px;
}

.index-open-btn:hover,
.index-open-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.modal-open-btn:focus,
.modal-open-btn:hover {
  background: #404bbf;
  cursor: pointer;
  color: #ffffff;
}

.title {
  background-color: #2e2f42;
  padding: 188px 0
}
.title-head {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.studio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main_studio {
  
  display: flex;
}
.studio_ul {
  display: flex;
  align-items: center;
}
.studio_li {
  width: 264px;
}
.studio-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
.studio-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.main_doing {
  display: flex;
  align-items: center;
}

.doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.doing_list {
  display: flex;
  align-items: center;
}


.team_section {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
}
.contact_section {
  align-items: center;
}
.contact_list {
  display: flex;
}
.team_item {
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  color: #2e2f42;
}
.team_list {
  background-color: #ffffff;
}
/* General */
.logo {
  color: #4d5ae5;
  font-family: var(--secondaty-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo_t {
  font-family: var(--secondaty-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.logo_b {
  color: #f4f4fd;
}
.margin {
  margin-bottom: 120px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.gap {
  column-gap: 24px;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: var(--main-font-family);
  color: #434455;
  background-color: #ffffff;
}
/* Fooder */
.footer {
  background-color: #2e2f42;
  height: 312px;
}
